/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
body {
  background-color: #010317;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

table th:hover {
  transition: box-shadow 300ms;
  box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.2);
}

table a{
  color: white;
  letter-spacing: 1px;
}

table a:hover {
  color: white;
  text-decoration: none;
}

.image img {
  width: 163px;
  height: 109px;
  border-radius: 5px;
}

table th {
  border: 0.1px solid #515475;
  border-radius: 5px;
  text-align: center;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
}

.scrollbar {
  overflow-y: hidden;
  overflow-x: scroll;
}

::-webkit-scrollbar {
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.table {
  border-collapse: separate;
  border-spacing: 20px;
  margin: 0;
}

.caption {
  font-family: Aldrich;
  font-size: 35px;
  padding-left: 20px;
  color: white;
}

p.caption {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: none;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 25px;
  font-size: 17px;
  margin-right: 55px;
  float: right;
}

.topnav .search-container button {
  float: right;
  padding: 6px 15px;
  background: #010317;
  font-size: 20px;
  border: 0.1px solid white;
  cursor: pointer;
}

.footer-link{
  color: white;
  font-family: monospace;
  text-decoration: none;
  font-size: 20px;
  font-weight: 200;
  margin-right: 40px;
  display: inline-block;
}

a.footer-link:visited {
  color: white;
  text-decoration: none;
}

.fab {
  color: white;
}

.fab:hover {
  opacity: 0.7;
}

@media only screen and (max-width:825px) and (min-width:411px) {
  #search {
    margin-right: 30px;
  }
}

@media only screen and (max-width:705px) {
  #search {
    margin: auto;
    float: none;
  }
  .topnav {
    text-align: center;
  }
}