#person-image {
    margin-left: 19%;
    max-width: 200px;
}

#audio-player {
    max-width: 360px;
    min-height: 50vh;
    max-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    background: grey;
    box-shadow: 0 0 6px 2px #c7a8a8;
    color: black;
    font-family: verdana;
    font-size: 14px;
}

.image1 {
    width: inherit;
    height: 23vh;
    background: white;
}

.player {
    margin: 7px;
}

.song-title {
    width: 300px;
    padding: 15px 0px 15px 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.song-slider {
    width: 100%;
}

.current-time {
    float: left;
    font-size: 10px;
}

.duration {
    float: right;
    font-size: 10px;
}

.controllers {
    clear: both;
    margin-left: 24%;
}

.controllers * {
    vertical-align: middle;
}

.volume-slider {
    width: 15vw;
    margin-left: 5px;
}

.float-right {
    float: right;
}