body {
  background: #f1e7e7;
}
.xyz {
  background: #d33a1a;
}

.myclass {
  width: 600px;
  height: 600px;
}

.bkc {
  width: 100px;
  height: 50px;
}

.sks {
  overflow-y: hidden;
}

.mkc {
  width: max-content;
  height: 50px;
  white-space: nowrap;
  background: black;
}

a.one:link {
  font-family: 'Source Code Pro', monospace;
  color: white;
  text-decoration: none;
}

a.one:visited {
  text-decoration: none;
  color: white;
}

a.one:hover {
  color: blue;
  text-decoration: none;
}

.example {
  overflow-y: scroll;
  overflow-x: scroll;
  /* Add the ability to scroll */
}

.example::-webkit-scrollbar {
  display: none;
}

.gap {
  padding: 8px;
  height: 100;
}

.caption {
  font-family: Aldrich;
  font-size: 35px;
  padding-left: 20px;
  color: white;
}

.caption2 {
  font-family: monospace;
  font-weight: 900;
  color: black;
}

.topnav {
  overflow: hidden;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  text-decoration: none;
}

.topnav .search-container {
  float: right;
}

.topnav input[type="text"] {
  padding: 6px;
  margin-top: 25px;
  font-size: 17px;
  margin-right: 100px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 15px;
  margin-top: 25px;
  
  background: #010317;
  font-size: 20px;
  border: 0.1px solid white;
  cursor: pointer;
}

center {
  width: 100%;
  height: 110px;
  margin: auto;
  background: #010317;
  bottom: 0;
  position: relative;
  overflow: hidden;
  border-top: 0.5px solid white;
}

ol {
  display: flex;
  position: relative;
  top: 35%;
  left: 75%;
  transform: translate(-40%, -50%);
}

ol li {
  list-style: none;
}

ol li a {
  width: 40px;
  height: 40px;
  /*background:#010317;*/
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin: 0 20px;
  display: block;
  border-radius: 50%;
  /*border: 1px solid white;*/
}

.footer {
  position: relative;
  top: 20px;
  left: 20px;
}
a.footerlink:link {
  color: white;
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 200;
  margin-right: 40px;
}
a.footerlink:visited {
  color: white;
  text-decoration: none;
}
th {
  border: 0.1px solid white;
}
#table1 {
  border-collapse: separate;
  border-spacing: 10px;
}
#table3 {
  border-collapse: separate;
  border-spacing: 10px;
  margin-bottom: 40px;
}
.fa{
color: white;
}
.img-size{
  height: 150px;
  width: 150px;
}