<style type="text/css">

body{
background: #f1e7e7;
}

button{
background-color:#4CAF50;

border-color:#4CAF50;
color:red
display:inline-block;
}

.xyz{
	background:#D33A1A;
	
	
}

.myclass{
	width: 600px;
height: 600px:
}

.bkc{
	width: 400px;
	height:50px;
	


	
}

.sks{
	overflow-y: hidden;

}
.mkc{
		width: 1370px;
	height:50px;
		white-space: nowrap;
				background:white;
	
}