<style type="text/css">

body{
background: #f1e7e7;
}

.audio-player-cont{
width: 500px;
height: 400px;
margin-left: 450px;
margin-top: 140px;
background: grey ;
box-shadow: 0 0 6px 2px #c7a8a8;
color: black;
font-family: verdana;
font size: 12px;
}

.logo{
}

.image1{
	width: 500px;
height: 200px;
	background: white;
}
.player{

margin: 7px;
}

.song-title{
   width: 300px;
   padding: 5px 0px 5px 0px;
   white-space: nowrap;
   text-overflow: ellipsis;
   overflow: hidden;
   }
  
 .song-slider{
     width: 475px;
}
 .current-time{
 float:left;
 font-size: 10px;
 }
 
 .duration{
 float:right;
 font-size: 10px;
 }
 .controllers{
 clear: both;
 display: tables;
 }
  
 .controllers *{
 vertical-align:middle;
 margin-right:2px;
 }
 
 .volume-slider{
 width: 90px;
 margin-left:5px;
 }
 
 
</style>